<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cocktail Compendium</title>
</head>
<nav>
    <a href="/">Home</a>
    <a href="/search">Search</a>
</nav>
<body>
    <h1>The Cocktail Compendium</h1>
    <h2>Your saved cocktials will appear below!</h2>
    <h3>To save a cocktail recipe, go to the search page, look up a cocktail, and click "Save"</h3>
</body>
</html>