<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cocktail Search</title>
</head>
<nav>
    <a href="/">Home</a>
    <a href="/search">Search</a>
</nav>
<body>
    <h1>The Cocktail Search</h1>
  <div class="container">
    <div class="response-area">
      <p>
        <%= content %>
      </p>
    </div>
    <form class="getCocktailForm" method="get">
      <label for="nameInput">Cocktail Name:</label>
      <input type="text" id="nameInput" name="nameInput">

      <label for="submit">Search:</label>
      <input id="get" type="submit" value="GET" formaction="/get-cocktail-by-name">
    </form>

    <form class="getCocktailForm" method="get">
      <label for="firstLetterInput">First Letter:</label>
      <input type="text" id="firstLetterInput" name="firstLetterInput">

      <label for="submit">Search:</label>
      <input id="get" type="submit" value="GET" formaction="/get-cocktail-by-letter">

    </form>

    <form class="getCocktailForm" method="get">
      <label for="randomInput">Get Random Cocktail:</label>
      <input type="text" id="randomInput" name="randomInput">

      <label for="submit">Search:</label>
      <input id="get" type="submit" value="GET" formaction="/get-cocktail-random">
    </form>

  </div>


</body>
</html>