<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Cocktail Search</title>
</head>
<div class="header">
    <h1>The Cocktail Search</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/search">Search</a>
    </nav>
</div>
<div class="main-content">
<body>
  <div class="input-boxes">
    <form class="getCocktailForm" method="get">
      <label for="nameInput">Cocktail Name:</label>
      <input type="text" id="nameInput" name="nameInput">
      <input id="get" type="submit" value="Search" formaction="/get-cocktail-by-name">
    </form>

    <form class="getCocktailForm" method="get">
      <label for="firstLetterInput">First Letter:</label>
      <input type="text" id="firstLetterInput" name="firstLetterInput">
      <input id="get" type="submit" value="Search" formaction="/get-cocktail-by-letter">

    </form>

    <form class="getCocktailForm" method="get">
      <label for="randomInput">Get Random Cocktail:</label>
      <input id="get" type="submit" value="Search" formaction="/get-cocktail-random">
    </form>

  </div>
</body>
</div>

</html>